<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.au.au339038.bachelorprojekt.endelighjemmeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".FHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_menu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_menu_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EndeligHjemmeApp">
        <activity
            android:name=".ActivitiesUI.advice.ChosenAdviceActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.NotDone.MoodGraphActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.NotDone.EditChildActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.NotDone.CheckListActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.NotDone.EditAreaActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.NotDone.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.NotDone.ThisWeekActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.advice.AdviceActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.support.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesUI.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ActivitiesUI.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ActivitiesUI.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".ActivitiesUI.psychologist.PsychListActivity"
            android:exported="true" />
        <activity
            android:name=".ActivitiesUI.group.GroupListActivity"
            android:exported="true" />
        <activity
            android:name=".ActivitiesUI.login.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>